.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  padding-bottom: 60px;
  list-style: none;
  gap: 7px;
  user-select: none;
}

.pagination .numbers {
  display: flex;
  gap: 5px;
}

.pagination .numbers .number,
.pagination .numbers .isCurrent {
  width: 45px;
  height: 45px;
}

.pagination .numbers .isCurrent {
  background-color: #4925ca;
  cursor: not-allowed;
}

.pagination .isDisabled {
  background-color: #BBC2C8;
  cursor: not-allowed;
}