header {
  box-shadow: 6px 6px 30px rgba(75, 0, 130, 0.3)
}

header .nav-list {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  padding: 15px 0;
}

header .nav-list .nav-left h1:hover{
  color: #5A3AC9;
}

header .nav-list .nav-left,
header .nav-list .nav-right {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

header .nav-list .nav-right p:hover {
  color: #5A3AC9;
}

header p {
  color: rgb(133, 133, 166);
  font-size: 1rem;
  line-height: 1.5em;
  font-weight: 600;
}

header .nav-left img{
  width: 65px;
  height: 65px;
}

header .nav-left h1{
  margin-left: -15px;
  color: #fff;
  font-size: 2rem;
}